.intro__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 76px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1023px) {
    .intro__grid {
        display: flex;
        flex-direction: column;
       
        }
    }