.page {
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
  color: #000;
  font-family: 'Roboto', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

