.appointment {
    background-color: $backgroundSection;
    color: $colorText;
    padding-top: $paddingSection;
}

@media screen and (max-width: 1023px) {
    .appointment {
        padding-top: 40px;
        }
    }
