.intro__grid {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 642px);
    column-gap: 76px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1340px) {
    .intro__grid {
        column-gap: 50px;
        }
    }

@media screen and (max-width: 1110px) {
    .intro__grid {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        }
    }

@media screen and (max-width: 460px) {
    .intro__grid {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}