.camera__grid {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 642px);
    column-gap: 76px;
    margin-bottom: 180px;
}

@media screen and (max-width: 1340px) {
    .camera__grid {
        column-gap: 50px;
        
        }
    }
@media screen and (max-width: 1180px) {
    .camera__grid {
        display: flex;
        flex-direction: column;
        }
    }

@media screen and (max-width: 460px) {
    .camera__grid {
        margin-bottom: 60px;
    }
}