.footer__copyright {
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
}

@media screen and (max-width: 460px) {
    .footer__copyright  {
        font-size: 12px;
    }
}