.composition__description {
    margin: 0 0 20px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.composition__description:last-of-type {
    margin-bottom: 0;
}


@media screen and (max-width: 460px) {
    .composition__description {
        font-size: 14px;
        line-height: 18px;
        }
    }