.orders__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media screen and (max-width: 1025px) {
    .orders__flex {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 40px;
        }
    }


@media screen and (max-width: 460px) {
    .orders__flex {
        margin-bottom: 20px;
    }
}