.appointment__title {
    position: relative;
    max-width: 685px;
    margin: 0;
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 120px;
    font-weight: 400;
}

@media screen and (max-width: 1023px) {
    .appointment__title {
        max-width: 571px;
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 190px;
        }
    }

@media screen and (max-width: 767px) {
        .appointment__title {
            font-size: 70px;
            line-height: 1.1;
            }
        }

@media screen and (max-width: 460px) {
    .appointment__title {
        width: 274px;
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 200px;
        padding-top: 20px;
    }
    .appointment__title::before {
        content: '';
        position: absolute;
        width: 100%;
        border-bottom: solid 1px #fff;
        top: 0;

    }
}