.appointment__feedback-email {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.38px;
    box-sizing: border-box;
    max-width: 348px;
    width: 100%;
    min-height: 50px;
    border-width: 2px 0 2px 2px;
    border-color: #000;
    border-radius: 8px 0 0 8px;
    padding-left: 20px;
    cursor: pointer;
}

@media screen and (max-width: 460px) {
    .appointment__feedback-email {
        font-size: 11px;
        max-width: 175px;
        }
    }

.appointment__feedback-email:hover {
    cursor: url('../images/Pointer.svg'), auto;

}