.header__wrapper {
    position: relative;
    min-height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1020px) {
    .header__wrapper{
       
        }
    }